[submodule "deps/concordium-rust-sdk"]
	path = deps/concordium-rust-sdk
	url = git@github.com:Concordium/concordium-rust-sdk.git
[submodule "deps/concordium-node"]
	path = deps/concordium-node
	url = git@github.com:Concordium/concordium-node.git
